a 
{
    display: inline-block;
 background: rgb(7, 7, 7);
 width: 1815px;
 height: 20px;
 color: antiquewhite;
}  

img {
    height: 350px;
    width: 1820px;
    object-fit: contain;
}


h1{text-align:center;}
           
.effet_3D { 
       /* margin: 730px ; */
        text-align: left; 
        color: black; 
        font-size: 1cm;
        
        } 


       

               